@import url('https://fonts.googleapis.com/css?family=Raleway:400,900i&display=swap');
body{
    background-color: rgb(26, 25, 25);
}
h1 {
text-align: center;
font-family: 'Raleway', sans-serif;
color: rgb(218, 127, 127);
margin: 1.5em auto 0.1em;
}


#cont {
    display: grid;
    justify-content: center;
    grid-template: 100px 100px 100px 100px 100px 100px 100px 100px/ 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 5px;
}

#cont>span {
    width: 100%;
    height: 100%;

    margin: 0;
}
#cont>span>img{
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#cont>.i1 {
    grid-column: 1/9;
    grid-row: 1/3;
}

#cont>.i2 {
    grid-column: 1/3;
    grid-row: 3/7;
}

#cont>.i3 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#cont>.i4 {
    grid-column: 4/5;
    grid-row: 3/4;
}

#cont>.i5 {
    grid-column: 3/5;
    grid-row: 4/5;
}

#cont>.i6 {
    grid-column: 3/5;
    grid-row: 5/7;
}

#cont>.i7 {
    grid-column: 5/9;
    grid-row: 3/5;
}

#cont>.i8 {
    grid-column: 5/6;
    grid-row: 5/7;
}

#cont>.i9 {
    grid-column: 6/7;
    grid-row: 5/6;
}

#cont>.i10 {
    grid-column: 7/8;
    grid-row: 5/6;
}

#cont>.i11 {
    grid-column: 8/9;
    grid-row: 5/6;
}

#cont>.i12 {
    grid-column: 6/9;
    grid-row: 6/7;
}

#cont>.i13 {
    grid-column: 1/5;
    grid-row: 7/9;
}

#cont>.i14 {
    grid-column: 5/9;
    grid-row: 7/9;
}